<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>output</title>
     <!-- bootstrap5 -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<style>
    body {
        margin: 0;
        padding: 0;
    }

    .main-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        min-height: 100vh;
        flex-direction: column;
        background-image: linear-gradient(to top, #a29bfe 0%, #330867 100%);
        padding: 50px 20px;
    }

    .main-container>.main-heading {
        color: #fdcb6e;
        font-size: 2.5rem;
    }

    .main-container>.main-content {
        padding: 0px;
        background: rgba(255, 255, 255, 0.2);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.1);
        margin: 40px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 33%;
    }

    .main-content a{
        text-decoration: none;
    }

    
    .btn-grad-1 {
        background-image: linear-gradient(to right, #485563 0%, #29323c 51%, #485563 100%);
        margin: 10px 0;
        padding: 10px 20px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        display: block;
        border: none;
    }

    .btn-grad-1:hover {
        background-position: right center;
        /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
    }

    @media screen and (max-width:799px) {

        .main-container>.main-content {
            min-width: 300px;
        }
    }
    .output-content {
        width: 550px;
        background: rgba(255, 255, 255, 0.2);
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        border: 1px solid rgba(255, 255, 255, 0.1);
        padding: 20px;
        margin-top: 30px;
    }
    
    .output-content>.text {
        background: rgba(255, 255, 255, 0.25);
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        border: 1px solid rgba(255, 255, 255, 0.125);
        padding: 20px;
        margin-bottom: 20px;
        overflow: auto;
        font-size: 0.8rem;
    }
    
    @media screen and (max-width:799px) {
        .output-content {
            width: 300px;
        }
    }
</style>
<body>
    <div class="main-container">
        <div class="main-heading">
            Output
        </div>
        <div class="output-content">
                    <h3>Catogories</h3>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Sr No.</th>
                    <th scope="col">Parameters</th>
                    <th scope="col">Value</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Hate</td>
                      <td><%= hate %></td>
                    </tr>
                  </tbody>
                <tbody>
                  <tr>
                    <th scope="row">2</th>
                    <td>Hate/Threatning</td>
                    <td>
                        <%= hate_threat %>
                    </td>
                  </tr>
                </tbody>
                <tbody>
                    <tr>
                      <th scope="row">3</th>
                      <td>self-harm</td>
                      <td><%= self_harm %></td>
                    </tr>
                  </tbody>
                  <tbody>
                    <tr>
                      <th scope="row">4</th>
                      <td>Sexual</td>
                      <td><%= sexual %></td>
                    </tr>
                  </tbody>
                  <tbody>
                    <tr>
                      <th scope="row">5</th>
                      <td>Sexual/minors</td>
                      <td><%= sexual_min %></td>
                    </tr>
                  </tbody>
                  <tbody>
                    <tr>
                      <th scope="row">6</th>
                      <td>Violence</td>
                      <td><%= violence %></td>
                    </tr>
                  </tbody>
                  <tbody>
                    <tr>
                      <th scope="row">7</th>
                      <td>Violence/Graphics</td>
                      <td><%= violence_graphics %></td>
                    </tr>
                  </tbody>
              </table>
        </div>
        <div class="output-content">
            <h3>Catogory_Scores</h3>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Sr No.</th>
            <th scope="col">Parameters</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Hate</td>
              <td><%= hate1 %></td>
            </tr>
          </tbody>
        <tbody>
          <tr>
            <th scope="row">2</th>
            <td>Hate/Threatning</td>
            <td>
                <%= hate_threat1 %>
            </td>
          </tr>
        </tbody>
        <tbody>
            <tr>
              <th scope="row">3</th>
              <td>self-harm</td>
              <td><%= self_harm1 %></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row">4</th>
              <td>Sexual</td>
              <td><%= sexual1 %></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row">5</th>
              <td>Sexual/minors</td>
              <td><%= sexual_min1 %></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row">6</th>
              <td>Violence</td>
              <td><%= violence1 %></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row">7</th>
              <td>Violence/Graphics</td>
              <td><%= violence_graphics1 %></td>
            </tr>
          </tbody>
      </table>
</div>
        <div class="main-content">
            <a class="btn-grad-1" href="/">Refresh</a>
        </div>
    </div>
</body>
</html>